.column {
  width: 272px;
  margin-right: 8px;
  border-radius: 3px;
  background-color: #ebecf0;
  padding: 8px;
}
.editPaneWrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.editButton {
  color: green;
  cursor: pointer;
  font-style: italic;
}

.deleteButton {
  color: red;
  margin-left: 10px;
  cursor: pointer;
  font-style: italic;
}

.titleInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.editPaneButtons {
  display: flex;
  justify-content: space-around;
}

.saveButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.cancelButton {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.addCardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 24px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.addCardFormInput {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  width: 100%;
}
.addCardFormBtnWrapper {
  display:flex;
  gap:2rem;
}
.addCardFormSubmitBtn {
  padding: 8px;
  background-color: #5aac44;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
.addCardFormCancelBtn {
  padding: 8px;
  background-color: #eb5a46;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
